#viewProdTabs .ui-widget-header, #asproblemTabs .ui-widget-header, #view_customerTabs .ui-widget-header, #lstSolutionTabs_v .ui-widget-header, #viewASPTabs .ui-widget-header, #viewSOTabs .ui-widget-header
{
    border: 1px solid #C0C0C0;
    background: #D7D7D7;
}

#viewProdTabs .ui-state-default, #asproblemTabs .ui-state-default, #view_customerTabs .ui-state-default, #lstSolutionTabs_v .ui-state-default, #viewASPTabs .ui-state-default, #viewSOTabs .ui-state-default
{
    background: #F6F6F6;
}

