#pageContentForm #areaTreeFrm
{
    margin: 8px 0px 8px 10px;
    border: 1px solid #DFDFDF;
    display: inline-block; padding: 5px; min-width: 160px; vertical-align: top; float: left;
    overflow-y: scroll
}

#lstChargeFrm
{
    display: inline-block;
    vertical-align: top;
    float: left;
}

#lstSolutionTabs .ui-widget-header, #lstSolutionTabs_v .ui-widget-header
{
    border: 1px solid #C0C0C0;
    background: #D7D7D7;
}

#lstSolutionTabs .ui-state-default, #lstSolutionTabs_v .ui-state-default
{
    background: #F6F6F6;
}