#loginRegion
{
    border: 1px solid #DFDFDF;
    width: 550px;
    height: 265px;
    position: absolute;
}

#lr_head
{
    padding: 5px 5px 5px 10px; background-color: #224272; height: 20px;
}

#lr_head span
{
    color: #FFFFFF; font-weight: bold; 
}

#lr_content
{
    color: #224272; 
}

#lr_c_img
{
    float:left; margin: 30px 0 0 60px
}

#lr_c_img img
{
    height: 128px; 
}

#lr_c_form
{
    float:left; margin: 40px 0 0 50px
}

#lr_c_form .input-td
{
    width: 80px;
    padding: 7px 0px;
}

#loginAlert
{
    float:left; font-weight: normal; color:#5D5D5D; 
    margin: 15px 15px 10px 15px;
    width: 530px;
}

#ddlLanguage
{
    width: 155px;
    color: #383838;
}